.svg-wrapper {
  position: relative;
  top: 10%;
  transform: translateY(-50%);
	  margin: 0 auto;
  width: 320px;
  float: left;
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 18px;
  letter-spacing: 5px;
  color: #fff;
  top: -48px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.h1{

}

.h2{
  font-family: 'Helvetica Neue';
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 5px;
  color: #bdc3c7;
}