
.all {
  position:fixed;
  top:50%;
  left:50%;
  margin-left:-50px;
  margin-top:-130px;
}
.container {
  position:relative;
  margin:20px 0;

  &:hover .content{
    width:300px;
    padding-left:50px;
    opacity:1;
  }
  &:hover .hover {
    background-color:#218F79;
  }
}
.hover {
  width:100px;
  height:100px;
  background-color:#16a085;
  border:2px solid #2c3e50;
  display:block;
  border-radius:50%;
  position:relative;
  z-index:99;
  transition:all .6s;

  &:before {
    position:absolute;
    top:28%;
    left:35%;
    font-family:'entypo', sans-serif;
    font-size:38px;
    color:#fff;
  }
}
.link:before {
  content:"\e762";
  left: 50%;
  margin-left: -6px;
}
.twitter:before {
  content:"\f309";
}
.content {
    width: 0;
    background-color: #24889B;
    position: absolute;
    z-index: 0;
    height: 70px;
    transition: all .6s;
    display: block;
    opacity: 0;
    top: 15px;
    left: 50px;

&
a {
    display: block;
    line-height: 70px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;

&
:hover {
    color: #ddd;
}
}
}
