.context{
  font-family: 'Helvetica Neue';
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #bdc3c7;
  border: 2px;
  background-color: #34495e;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 700px;
  height: 600px;
  float: right;
  position: relative;
  text-align: center;
}

.results{
  font-family: 'Helvetica Neue';
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #bdc3c7;
  border: 3px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 500px;
  height: 500px;
  float: right;
  text-align: center;
}

.link{
  font-family: 'Helvetica Neue';
  font-size: 22px;
  line-height: 18px;
  letter-spacing: 5px;
  color: #fff;
}