
h1{
  text-align:center;
  text-transform:uppercase;
  letter-spacing:-2px;
  font-size:2.5em;
  margin:20px 0;
}

.container{
  width:90%;
  margin:auto;
}

table{
  border-collapse:collapse;
  width:100%;
}

.blue{
  border:2px solid #1ABC9C;
}

.blue thead{
  background:#1ABC9C;
}

.fixed{
  top:0;
  position:fixed;
  width:auto;
  display:none;
  border:none;
}

.dropdown-corpus{
    padding: 5px;
    width:150px;
    overflow: hidden;
    border: 1px solid #D2527F;
}

.select-dropdown{
    width: 180px;
    height: 34px
    font-size: 20px;
    background: url('../img/arrow_down.png') #2980b9 no-repeat 96% 96%;
}