{% extends "base_generic2.html" %}
{% block title %} {{ title }}
{% endblock title %}

{% block head%}
    <link rel="stylesheet" href="../static/css/main_menu.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/headers.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/main_context.css" type="text/css"/>
{% endblock head %}
{%  block main_body %}
    <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
        <div class="text"><a class="link" href="{% url 'SentifeedWeb.views.home' %}">{{ h1 }}</a></div>
        <br/>
        <div class="h2">{{ h2 }}</div>
            {% block main_menu %}
            <nav class="menu" style="float:left;">
              <input type="checkbox" id="togglemenu" checked />
              <label for="togglemenu" class="togglemenu"></label>
              <ul>
                <li><a href="{% url 'SentifeedWeb.views.streaming' %}">Streaming Content</a></li>
                <li><a href="{% url 'SentifeedWeb.views.corpus' %}">Corpus Results</a></li>
                <li><a href="{% url 'SentifeedWeb.views.try_it' %}">Try it!</a></li>
                <li><a href="{% url 'SentifeedWeb.views.about' %}">About</a></li>
              </ul>
            </nav>
            {% endblock main_menu %}
          </svg>
      </div>
    <div style="align-self: center; color: #16a085;top:10%; right: 30%; position:inherit ;width:80%">
        <p class="context">Choose from the menu on the right to get to know the application!</p>
    </div>
{%  endblock main_body %}