<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="../static/style/style.css" type="text/css" media="screen" />
  <script type="text/javascript" src="../static/style/accordian.pack.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsVAYpjS5s64EnPDVziDAN7GvTMDmGXBU&sensor=false">
    </script>
    <script type="text/javascript">
    function initialize() {
      var mapOptions = {
        zoom: 4,
        center: new google.maps.LatLng(-25.363882, 131.044922)
      };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

      var marker = new google.maps.Marker({
        position: map.getCenter(),
        map: map,
        title: 'Click to zoom'
      });

      google.maps.event.addListener(map, 'center_changed', function() {
        // 3 seconds after the center of the map has changed, pan back to the
        // marker.
        window.setTimeout(function() {
          map.panTo(marker.getPosition());
        }, 3000);
      });

      google.maps.event.addListener(marker, 'click', function() {
        map.setZoom(8);
        map.setCenter(marker.getPosition());
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('.bar').each(function(i, elem){
            drawBar(elem);
          });

          $('.measure').each(function(i, elem){
            drawMeasure(elem);
          });

          $('a.redraw').click(function(e){
            e.preventDefault();
            $('.bar').each(function(i, elem){
              randomiseBar(elem);
            });
            $('.measure').each(function(i, elem){
              randomiseMeasure(elem);
            });

          });

          function drawBar(bar) {
            var percentage = $(bar).data('percentage');
            if(percentage > 100){
              percentage = 100;
            }
            $(bar).animate({'width': percentage + '%'}, 'slow');
          }

          function randomiseBar(bar) {
            var width =  Math.floor(Math.random() * (100 - 20 + 1)) + 20;
            $(bar).animate({'width': width + '%'}, 'slow');
            $(bar).attr('data-percentage', width);
          }

          function drawMeasure(measure) {
            var percentage = $(measure).data('percentage');
            if(percentage > 100){
              percentage = 100;
            }
            $(measure).animate({'width': percentage + '%'}, 'slow');
          }

  function randomiseMeasure(measure) {
    var width =  Math.floor(Math.random() * (100 - 20 + 1)) + 20;
    $(measure).animate({'width': width + '%'}, 'slow');
    $(measure).attr('data-percentage', width);
  }


});

    </script>
  <title>{{ title }}</title>
    <h1>{{ h1 }}</h1>
    <h2>{{ h2 }}</h2>
    <h3>{{ h3 }}</h3>
</head>

<body onload="new Accordian('basic-accordian',5,'header_highlight');">
  <div id="logo"><h1>senti_feed</h1><div class="loader"></div></div>
  <div id="basic-accordian" >
    <div id="test-header" class="accordion_headings">Home</div>
    <div id="test-content">
      <div class="accordion_child">
      <div id="map-map-canvas" style="width: 100%; height: 100%">
      {% block map %}
        <iframe
          width="800"
          height="700"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCsVAYpjS5s64EnPDVziDAN7GvTMDmGXBU&q=Greece">
        </iframe>
      {% endblock map %}
      </div>
      </div>
    </div>
    <div id="test1-header" class="accordion_headings">First 1000 Tweets</div>
    <div id="test1-content">
      <div class="accordion_child">
        {% block accordian2 %} {% endblock accordian2 %}
      </div>
    </div>
    <div id="test2-header" class="accordion_headings">Book Reviews</div>
    <div id="test2-content">
      <div class="accordion_child">
        <h1>Image Layout</h1>
          {% block accordian3 %} {% endblock accordian3 %}
      </div>
    </div>
    <div id="test3-header" class="accordion_headings">Other Reviews</div>
    <div id="test3-content">
      <div class="accordion_child">
          {% block accordian4 %} {% endblock accordian4 %}
      </div>
    </div>
    <div id="test4-header" class="accordion_headings header_highlight">Try API</div>
    <div id="test4-content">
      <div class="accordion_child">
          {% block accordian5_1 %} {% endblock accordian5_1 %}
          {% block accordian5_2 %} {% endblock accordian5_2 %}
      </div>
    </div>
    <div id="test5-header" class="accordion_headings">Contact</div>
    <div id="test5-content">
      <div class="accordion_child">
        {% block contact_form %}
        <p>Below is an example of how a contact form might look with this template:</p>
        <form action="#" method="post">
          <div class="form_settings">
            <p><span>Name</span><input class="contact" type="text" name="your_name" value="" /></p>
            <p><span>Email Address</span><input class="contact" type="text" name="your_email" value="" /></p>
            <p><span>Message</span><textarea class="contact textarea" rows="8" cols="50" name="your_enquiry"></textarea></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="submit" /></p>
          </div>
        </form>
        <p><br /><br />NOTE: A contact form such as this would require some way of emailing the input to an email address.</p>
       {% endblock contact_form %}
      </div>
    </div>
  </div>
  <div id="footer">
    <p>Copyright Karanasou Maria 2014 | <a href="http://validator.w3.org/check?uri=referer">HTML 5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a> | <a href="http://dezinerfolio.com">AJAX by DezinerFolio</a></p>
  </div>
<div>
    {%  block test %}{% endblock test %}
</div>
</body>
</html>
