<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
{% block head %}
{% endblock head %}
</head>
<body>
{%  block main_body %}
    {% block results %}
    {% endblock results %}
{% endblock main_body %}
</body>
<footer>
{% block footer %}
{% endblock footer %}
</footer>
</html>