{% extends "base_generic2.html" %}
{% block title %} {{ title }}
{% endblock title %}

{% block head%}
        <link rel="stylesheet" href="../static/css/main_menu.css" type="text/css"/>
        <link rel="stylesheet" href="../static/css/headers.css" type="text/css"/>
        <link rel="stylesheet" href="../static/css/main_context.css" type="text/css"/>
        <link rel="stylesheet" href="../static/css/corpus.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="../static/css/list_choice.css" type="text/css"/>
        <script src="http://code.jquery.com/jquery-2.1.0.min.js" type="text/javascript"></script>

      <script type="text/javascript">
        $(document).ready(function(){
            $("#button").click(function() {
                var xmlhttp;
                if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                    xmlhttp = new XMLHttpRequest();
                }
                else {// code for IE6, IE5
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                }

                alert('works')
                var corpus_table = $("#corpus_table").val();
                var top = $("#top").val();
                var params = "corpus_table=" + corpus_table + "&top=" + top
                xmlhttp.open("GET", "corpus_results/?" + params, true);
                xmlhttp.send();
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        document.getElementById("corpus_data").innerHTML = xmlhttp.responseText;
                    }
                }
            });
                    /*$("#button").click(function(){

                          alert('this')
                          var corpus_table=$("#corpus_table").val();
                          var top=$("#top").val();

                          $.ajax({
                              type:"get",
                              url:"corpus_results",
                              data:"corpus_table="+corpus_table+"&top="+top,
                              success:function(data){
                                 $("#corpus_data").html(data);
                              }

                          });

                    });*/
               });
   </script>
{% endblock head %}

{%  block main_body %}
<div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
        <div class="text"><a class="link" href="{% url 'SentifeedWeb.views.home' %}">{{ h1 }}</a></div>
        <br/>
        <div class="h2">{{ h2 }}</div>
            {% block main_menu %}
            <nav class="menu" style="float:left;">
              <input type="checkbox" id="togglemenu" checked />
              <label for="togglemenu" class="togglemenu"></label>
              <ul>
                <li><a href="{% url 'SentifeedWeb.views.streaming' %}">Streaming Content</a></li>
                <li><a href="{% url 'SentifeedWeb.views.corpus' %}">Corpus Results</a></li>
                <li><a href="{% url 'SentifeedWeb.views.try_it' %}">Try it!</a></li>
                <li><a href="{% url 'SentifeedWeb.views.about' %}">About</a></li>
              </ul>
            </nav>
            {% endblock main_menu %}
          </svg>
      </div>
    <div style="align-self: center; color: #16a085; position: relative;top:15%; ">
       <form>
        <table class="context" style="width:900px">
            <thead>
            <th style="width:60px;">Options &rarr;</th>
                <th>
                <div class="list-choice">
                  <div class="list-choice-title">Corpus Table</div>
                  <div class="list-choice-objects">
                      {% for each in corpus_tables %}
                  <label>
                    <input type="radio" name="corpus_table" id='corpus_table' value="{{each.name}}" />
                      <span>{{each.name}}</span>
                  </label>
                     {% endfor %}
                  </div>
                  </div>
                </th>
                <th>
                  <div class="list-choice">
                  <div class="list-choice-title">TOP * results</div>
                  <div class="list-choice-objects">
                  <label>
                    <input type="radio" name="top" id='top' value="10" required="true"/>
                      <span>10</span>
                  </label>
                  <label>
                    <input type="radio" name="top" id='top' value="100"/>
                      <span>100</span>
                  </label>
                  <label>
                    <input type="radio" name="top" id='top' value="1000"/>
                      <span>1000</span>
                  </label>
                  <label>
                    <input type="radio" name="top" id='top' value="*"/>
                      <span>All!</span>
                  </label>
                  </div>
                </div>
            </th>
            <th>

            <input type="button" style="width:100px;border-collapse: collapse;-moz-border-radius: 15px;" id="button">
            </th>
        </thead>
        </table>
    </form>

    <div class="results" style="width: 70%;height: 100% ">
    <div class="container">
    <h1>&darr; RESULTS &darr;</h1>
    <table>
      <thead>
        <tr style="background-color: #DB0A5B">
          <th><b>Original Tweet</b></th>
          <th><b>Modified Tweet</b></th>
          <th><b>Original Score</b></th>
          <th><b>Methods Estimation</b></th>
          <th><b>Aspect</b></th>
        </tr>
      </thead>
      <tbody>
      {% if corpus_data == empty %}
      <tr  style="background-color: #FFECDB">
          <td> - </td>
          <td> - </td>
          <td> - </td>
          <td> - </td>
          <td> - </td>
        </tr>
      {% else %}
          {% for each in corpus_data %}
            <tr  style="background-color: #FFECDB">
              <td>{{ each }}</td>
              <td>...</td>
              <td>Allo !</td>
              <td>Allo !</td>
              <td>Allo !</td>
            </tr>
          {% endfor %}
      {% endif %}
      </tbody>
    </table>
    <div id="corpus_data">test</div>
    </div>
    </div>
</div>
{%  endblock main_body %}