<table>
      <thead>
        <tr style="background-color: #DB0A5B">
          <th><b>Original Tweet</b></th>
          <th><b>Modified Tweet</b></th>
          <th><b>Original Score</b></th>
          <th><b>Methods Estimation</b></th>
          <th><b>Aspect</b></th>
        </tr>
      </thead>
      <tbody>
      {% if corpus_data == empty %}
      <tr  style="background-color: #FFECDB">
          <td> - </td>
          <td> - </td>
          <td> - </td>
          <td> - </td>
          <td> - </td>
        </tr>
      {% else %}
          {% for each in corpus_data %}
            <tr  style="background-color: #FFECDB">
              <td>{{ each }}</td>
              <td>...</td>
              <td>Allo !</td>
              <td>Allo !</td>
              <td>Allo !</td>
            </tr>
          {% endfor %}
      {% endif %}
      </tbody>
</table>
