{% extends "base_generic.html" %}
{% block accordian2 %}
        <h2>Results</h2>
        <table style="width:100%; border-spacing:0;">
          <tr><th>Tweet</th><th>Evaluation</th><th>Handcoded</th><th>Combined</th><th>Sum</th></tr>
         {% for tweet in tweets %}
             {% if 'positive' in tweet.HandcodedT and 'positive' in tweet.CombinedT %}
               <tr><td><label style="color:#20b2aa">{{ tweet.TweetText }}</label></td><td>
             {% elif 'negative' in tweet.HandcodedT and 'negative' in tweet.CombinedT %}
               <tr><td><label style="color:#8b0203">{{ tweet.TweetText }}</label></td><td>
             {% else %}
               <tr><td>{{ tweet.TweetText }}</td><td>
             {% endif %}
             {% if tweet.HandcodedT == 'negative' %}
                <td><label style="color:#8b0203">{{ tweet.HandcodedT }}</label></td>
             {% elif tweet.tweet.HandcodedT == 'positive' %}
                <td><label style="color:#20b2aa">{{ tweet.HandcodedT }}</label></td>
             {% else %}
                <td>{{ tweet.HandcodedT }}</td>
             {% endif %}
             {% if 'positive' in tweet.Combined %}
                <td><label style="color: #20b2aa" >{{ tweet.CombinedT }}</label></td>
             {% elif 'negative' in tweet.Combined %}
                <td><label style="color: #8b0203" >{{ tweet.CombinedT }}</label></td>
             {% else %}
                 <td><label style="color: white" >{{ tweet.CombinedT }}</label></td>
             {% endif %}
                 <td>{{ tweet.SumN }}</td></tr>
        {% endfor %}
        </table>
{% endblock accordian2 %}
{% block accordian3 %}
        <h1>Image Layout</h1>
        <p>images can be placed on the left, in the center or on the right:</p>
        <span class="left"><img src="../static/style/graphic.jpg" alt="example graphic" /></span>
        <p>
          To be defined...
        </p>
        <span class="center"><img src="../static/style/graphic.jpg" alt="example graphic" /></span>
        <span class="right"><img src="../static/style/graphic.jpg" alt="example graphic" /></span>
        <p>
          To be defined...
        </p>
{% endblock accordian3 %}
{% block accordian4 %}
        <p>
          To be defined...
        </p>
        <h2>List Examples</h2>
        <p>This is an unordered list:</p>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
        <p>This is an ordered list:</p>
        <ol>
          <li>Item 1</li>
          <li>Item 2</li>
        </ol>
{% endblock accordian4 %}
{% block accordian5_1 %}
        <blockquote>
            This is a block quote!
        </blockquote>
        <p>
          <form action="{% url 'SentifeedWeb.views.evaluate' %}" method="get">
            <input type="text" name="to_be_evaluated" autofocus="true" value='{{ to_be_evaluated }}' width="70%"/>
            <button type="submit" name="evaluate_text">Evaluate</button>
          </form>
          {% if 'negative' in emotion %}
          <p><label style="color: red" >{{ emotion }}</label></p>
          {% elif 'positive' in emotion %}
          <p><label style="color: #20b2aa" >{{ emotion }}</label></p>
          {% else %}
          <p><label style="color: blue" >{{ emotion }}</label></p>
          {% endif %}
          <ul>
              <li>Initial text: {{ scores.TweetText }}</li>
              <li>Processed Text: {{ scores.TweetTextAfter }}</li>
          {% if scores.SumN > 1.0 %}
              <li><label style="color: #20b2aa">Sum method score: {{ scores.SumN }}</label></li>
          {% elif scores.SumN < 1.0 %}
              <li><label style="color: red">Sum method score: {{ scores.SumN }}</label></li>
          {% endif %}
          {% if scores.CombinedN > 1.0 %}
              <li><label style="color: #20b2aa">Combined sum - emoticons score: {{ scores.CombinedN }}</label></li>
          {% elif scores.CombinedN < 1.0 %}
              <li><label style="color: red">Combined sum - emoticons score: {{ scores.CombinedN }}</label></li>
          {% endif %}
          {% if scores.NVAR > 1.0 %}
              <li><label style="color: #20b2aa">NVAR method score: {{ scores.NVAR }}</label></li>
          {% elif scores.NVAR < 1.0 %}
              <li><label style="color: red">NVAR method score: {{ scores.NVAR }}</label></li>
          {% endif %}
              <li>Non NVAR score: {{ scores.NVAROthersN }}</li>
              <li>NVAR - Non NVAR - emoticons combined score:{{ scores.NVARCombN }}</li>
              <li>Emoticons:
                  {% for emoticon in scores.Emoticons %}
                  <label>{{ emoticon }}</label>
                  {% endfor %}
              </li>
              <li>Emoticons score: {{ scores.EmoticonsScore }}</li>
          </ul>
{% endblock accordian5_1 %}
{% block accordian5_2 %}
<p><em>Animated bars using a data-percentage attribute to draw.</em></p>

<section class="data">
  <div class="measure" data-percentage="20">
  </div>
  <div class="bar-wrap">
    <label>Data 1</label>
    <div class="bar blue" data-percentage="94.7"></div>
  </div>
  <div class="bar-wrap">
    <label>Data 2</label>
    <div class="bar green" data-percentage="21"></div>
  </div>
  <div class="bar-wrap">
    <label>Data 3</label>
    <div class="bar red" data-percentage="78.95"></div>
  </div>
  <div class="bar-wrap">
    <label>Data 4</label>
    <div class="bar purple" data-percentage="43"></div>
  </div>
</section>

<a href="#" class="redraw button">Randomise Bars</a>
{% endblock accordian5_2 %}