<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="../static/style/style.css" type="text/css" media="screen" />
  <script type="text/javascript" src="../static/style/accordian.pack.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsVAYpjS5s64EnPDVziDAN7GvTMDmGXBU&sensor=false">
    </script>
    <script type="text/javascript">
    function initialize() {
      var mapOptions = {
        zoom: 4,
        center: new google.maps.LatLng(-25.363882, 131.044922)
      };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

      var marker = new google.maps.Marker({
        position: map.getCenter(),
        map: map,
        title: 'Click to zoom'
      });

      google.maps.event.addListener(map, 'center_changed', function() {
        // 3 seconds after the center of the map has changed, pan back to the
        // marker.
        window.setTimeout(function() {
          map.panTo(marker.getPosition());
        }, 3000);
      });

      google.maps.event.addListener(marker, 'click', function() {
        map.setZoom(8);
        map.setCenter(marker.getPosition());
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <title>{{ title }}</title>
    <h1>{{ h1 }}</h1>
    <h2>{{ h2 }}</h2>
    <h3>{{ h3 }}</h3>
</head>

<body onload="new Accordian('basic-accordian',5,'header_highlight');">
  <div id="logo"><h1>senti_feed</h1></div>
  <div id="basic-accordian" >
    <div id="test-header" class="accordion_headings">Home</div>
    <div id="test-content">
      <div class="accordion_child">
      <div id="map-map-canvas" style="width: 100%; height: 100%">
        <iframe
          width="800"
          height="700"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCsVAYpjS5s64EnPDVziDAN7GvTMDmGXBU&q=Greece">
        </iframe>
      </div>
      </div>
    </div>
    <div id="test1-header" class="accordion_headings">First 1000 Tweets</div>
    <div id="test1-content">
      <div class="accordion_child">
        <h2>Results</h2>
        <table style="width:100%; border-spacing:0;">
          <tr><th>Tweet</th><th>Evaluation</th><th>Score1</th><th>Score2</th></tr>
         {% for tweet in tweets %}
             {% if 'positive' in tweet.HandcodedT and 'positive' in tweet.CombinedT %}
                   <tr><td><label style="color:#20b2aa">{{ tweet.TweetText }}</label></td><td>
                 {% elif 'negative' in tweet.HandcodedT and 'negative' in tweet.CombinedT %}
                   <tr><td><label style="color:#8b0203">{{ tweet.TweetText }}</label></td><td>
                 {% else %}
                   <tr><td>{{ tweet.TweetText }}</td><td>
             {% endif %}
             {% if  'negative' in tweet.HandcodedT %}
                    <td><label style="color:#8b0203">{{ tweet.HandcodedT }}</label></td>
                 {% elif 'positive' in tweet.HandcodedT  %}
                    <td><label style="color:#20b2aa">{{ tweet.HandcodedT }}</label></td>
                 {% else %}
                    <td><label style="color: #3B3B3B" >{{ tweet.HandcodedT }}</label></td>
             {% endif %}
             {% if  'positive' in tweet.CombinedT %}
                    <td><label style="color: #20b2aa" >{{ tweet.CombinedT }}</label></td>
                 {% elif 'negative' in tweet.CombinedT %}
                    <td><label style="color: #8b0203" >{{ tweet.CombinedT }}</label></td>
                 {% else %}
                     <td><label style="color: #3B3B3B" >{{ tweet.CombinedT }}</label></td>
             {% endif %}
                 <td>{{ tweet.SumN }}</td></tr>
        {% endfor %}
        </table>
      </div>
    </div>
    <div id="test2-header" class="accordion_headings">Book Reviews</div>
    <div id="test2-content">
      <div class="accordion_child">
        <h1>Image Layout</h1>
        <p>images can be placed on the left, in the center or on the right:</p>
        <span class="left"><img src="../static/style/graphic.jpg" alt="example graphic" /></span>
        <p>
          To be defined...
        </p>
        <span class="center"><img src="../static/style/graphic.jpg" alt="example graphic" /></span>
        <span class="right"><img src="../static/style/graphic.jpg" alt="example graphic" /></span>
        <p>
          To be defined...
        </p>
      </div>
    </div>
    <div id="test3-header" class="accordion_headings">Other Reviews</div>
    <div id="test3-content">
      <div class="accordion_child">
        <p>
          To be defined...
        </p>
        <h2>List Examples</h2>
        <p>This is an unordered list:</p>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
        <p>This is an ordered list:</p>
        <ol>
          <li>Item 1</li>
          <li>Item 2</li>
        </ol>
      </div>
    </div>
    <div id="test4-header" class="accordion_headings header_highlight">Try API</div>
    <div id="test4-content">
      <div class="accordion_child">
        <blockquote>
            Enter your text below and click 'Evaluate' to get sentiment results!
        </blockquote>
        <p>
          <form action="{% url 'SentifeedWeb.views.evaluate' %}" method="get">
            <input type="text" name="to_be_evaluated" autofocus="true" value="sth"/>
            <button type="submit" name="evaluate_text">Evaluate</button>
          </form>
        </p>
      </div>
    </div>
    <div id="test5-header" class="accordion_headings">Contact</div>
    <div id="test5-content">
      <div class="accordion_child">
        <p>Below is an example of how a contact form might look with this template:</p>
        <form action="#" method="post">
          <div class="form_settings">
            <p><span>Name</span><input class="contact" type="text" name="your_name" value="" /></p>
            <p><span>Email Address</span><input class="contact" type="text" name="your_email" value="" /></p>
            <p><span>Message</span><textarea class="contact textarea" rows="8" cols="50" name="your_enquiry"></textarea></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="submit" /></p>
          </div>
        </form>
        <p><br /><br />NOTE: A contact form such as this would require some way of emailing the input to an email address.</p>
      </div>
    </div>
  </div>
  <div id="footer">
    <p>Copyright Karanasou Maria 2014 | <a href="http://validator.w3.org/check?uri=referer">HTML 5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a> | <a href="http://dezinerfolio.com">AJAX by DezinerFolio</a></p>
  </div>
</body>
</html>
