{% extends "base_generic2.html" %}
{% block title %} {{ title }}
{% endblock title %}

{% block head%}
    <link rel="stylesheet" href="../static/css/main_menu.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/headers.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/main_context.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/list_choice.css" type="text/css"/>
    <script type="text/javascript" src="map.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsVAYpjS5s64EnPDVziDAN7GvTMDmGXBU&sensor=false">
    </script>
{% endblock head %}
{%  block main_body %}
    <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
        <div class="text"><a class="link" href="{% url 'SentifeedWeb.views.home' %}">{{ h1 }}</a></div>
        <br/>
        <div class="h2">{{ h2 }}</div>
            {% block main_menu %}
            <nav class="menu" style="float:left;">
              <input type="checkbox" id="togglemenu" checked />
              <label for="togglemenu" class="togglemenu"></label>
              <ul>
                <li><a href="{% url 'SentifeedWeb.views.streaming' %}">Streaming Content</a></li>
                <li><a href="{% url 'SentifeedWeb.views.corpus' %}">Corpus Results</a></li>
                <li><a href={% url 'SentifeedWeb.views.try_it' %}>Try it!</a></li>
                <li><a href={% url 'SentifeedWeb.views.about' %}>About</a></li>
              </ul>
            </nav>
            {% endblock main_menu %}
          </svg>
      </div>
    <div style="align-self: center; color: #16a085; top:20%; position: relative; margin-right:25%;width:100%;">
     <div class="list-choice">
  <div class="list-choice-title">Month
  </div>
  <div class="list-choice-objects">
    <label>
      <input type="radio" name="month"/>                         <span>January</span>
    </label>
    <label>
      <input type="radio" name="month"/>                         <span>February</span>
    </label>
    <label>
      <input type="radio" name="month"/>                         <span>March</span>
    </label>
    <label>
      <input type="radio" name="month"/>                         <span>April</span>
    </label>
    <label>
      <input type="radio" name="month"/>                         <span>May</span>
    </label>
    <label>
      <input type="radio" name="month"/>                         <span>June</span>
    </label>
    <label>
      <input type="radio" name="month"/>                         <span>July</span>
    </label>
    <label>
      <input type="radio" name="month"/>                         <span>September</span>
    </label>
    <label>
      <input type="radio" name="month"/>                         <span>October</span>
    </label>
    <label>
      <input type="radio" name="month"/>                         <span>November</span>
    </label>
    <label>
      <input type="radio" name="month"/>                         <span>December</span>
    </label>
    </div>
    </div>

      <div id="map-map-canvas" style="width: 100%; height: 100%">
        <iframe
          width="100%"
          height="100%"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCsVAYpjS5s64EnPDVziDAN7GvTMDmGXBU&q=Greece">
        </iframe>
      </div>
    </div>
{%  endblock main_body %}