{% extends "base_generic2.html" %}
{% block title %} {{ title }}
{% endblock title %}

{% block head%}
    <link rel="stylesheet" href="../static/css/main_menu.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/headers.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/main_context.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/list_choice.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/data.css" type="text/css" media="screen" />
    <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
            $(document).ready(function(){
              $('.bar').each(function(i, elem){
                drawBar(elem);
              });

              $('.measure').each(function(i, elem){
                drawMeasure(elem);
              });

              function drawBar(bar) {
                var percentage = $(bar).data('percentage');
                if(percentage > 100){
                  percentage = 100;
                }
                $(bar).animate({'width': percentage + '%'}, 'slow');
              }

              function drawMeasure(measure) {
                var percentage = $(measure).data('percentage');
                if(percentage > 100){
                  percentage = 100;
                }
                $(measure).animate({'width': percentage + '%'}, 'slow');
              }
    });
    </script>
    <script type="text/javascript">
    $('.bar-percentage[data-percentage]').each(function () {
  var progress = $(this);
  var percentage = Math.ceil($(this).attr('data-percentage'));
  $({countNum: 0}).animate({countNum: percentage}, {
    duration: 2000,
    easing:'linear',
    step: function() {
      // What todo on every count
      var pct = Math.floor(this.countNum) + '%';
      progress.text(pct) && progress.siblings().children().css('width',pct);
    }
  });
});
    </script>
{% endblock head %}
{%  block main_body %}
    <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
        <div class="text"><a class="link" href="{% url 'SentifeedWeb.views.home' %}">{{ h1 }}</a></div>
        <br/>
        <div class="h2">{{ h2 }}</div>
            {% block main_menu %}
            <nav class="menu" style="float:left;">
              <input type="checkbox" id="togglemenu" unchecked />
              <label for="togglemenu" class="togglemenu"></label>
              <ul>
                <li><a href="{% url 'SentifeedWeb.views.streaming' %}">Streaming Content</a></li>
                <li><a href="{% url 'SentifeedWeb.views.corpus' %}">Corpus Results</a></li>
                <li><a href="{% url 'SentifeedWeb.views.try_it' %}">Try it!</a></li>
                <li><a href="{% url 'SentifeedWeb.views.about' %}">About</a></li>
              </ul>
            </nav>
            {% endblock main_menu %}
          </svg>
      </div>
 <div style="align-self: center; color: #16a085; position: relative;top:15%; ">
       <form action="{% url 'SentifeedWeb.views.try_it' %}" method="get">
        <table class="context" style="width:900px">
            <thead>
            <th style="width:60px;">Options &rarr;</th>
                <th>
                  <input type="text" placeholder="type your text here..." class="list-choice" required="true" name="to_evaluate">
                </th>
            <th>
            <input type="submit" style="width:100px;border-collapse: collapse;-moz-border-radius: 15px;">
            </th>
        </thead>
        <tbody style="width:80%;">

        </tbody>
        </table>
        <table class="context" style="width:900px">
        {% if result_text != empty %}
            {% for scores in result_text %}
            <thead>
                <th>
                    Method {{scores.count}}
                </th>
            <th>
                Combined Score
            </th>
            <th>
                Aspect
            </th>
            </thead>
            <tbody>
                {% for score in scores %}
                    <tr>

                    {% if score.combined_score > 1.0 %}
                     <td style="background-color:#03C9A9;">{{ score.calculation_method_id }}</td>
                     <td style="background-color:#03C9A9;">{{ score.combined_score}}</td>
                     <td style="background-color:#03C9A9;">{{ score.aspect_list }}</td>
                    {% elif score.combined_score < 1.0 %}
                     <td style="background-color:#F62459;">{{ score.calculation_method_id }}</td>
                     <td style="background-color:#F62459;">{{ score.combined_score}}</td>
                     <td style="background-color:#F62459;">{{ score.aspect_list }}</td>
                    {% else %}
                     <td style="background-color:#FFECDB;">{{ score.calculation_method_id }}</td>
                     <td style="background-color:#FFECDB;">{{ score.combined_score}}</td>
                     <td style="background-color:#FFECDB;">{{ score.aspect_list }}</td>
                    {% endif %}

                    </tr>
                {% endfor %}
            </tr>
            {% endfor %}
             <tr>
                <td>
                      <section class="data">
                      <div class="measure" data-percentage="20">
                      </div>
                      <div class="bar-wrap">
                        <label>Data 1</label>
                        <div class="bar blue" data-percentage="94.7"></div>
                      </div>
                      <div class="bar-wrap">
                        <label>Data 2</label>
                        <div class="bar green" data-percentage="21"></div>
                      </div>
                      <div class="bar-wrap">
                        <label>Data 3</label>
                        <div class="bar red" data-percentage="78.95"></div>
                      </div>
                      <div class="bar-wrap">
                        <label>Data 4</label>
                        <div class="bar purple" data-percentage="43"></div>
                      </div>
                      </section>
            </td>
        </tr>
        {% else %}
            <td>. . .</td>
        {% endif %}
          </tbody>
        </table>

    </form>
</div>
{%  endblock main_body %}
{% block footer %}
{% endblock footer %}